header {
  background-color: black;
  color: white;
  padding: 2%;
  font-size: 2rem;
}
h1 {
  text-align: center;
}
@media (max-width: 1024px) {
  header {
    line-height: 4rem;
    font-size: 1.8rem;
  }
}
@media (max-width: 600px) {
  header {
    font-size: 1.6rem;
  }
}
