table {
  margin-top: 40px;
  font-family: 'Roboto', sans-serif;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  border-collapse: collapse;
  width: 80%;
}
tr {
  border-bottom: 1px solid black;
}
td {
  padding: 0.7rem;
}
th {
  padding: 0.7rem;
  text-align: left;
  text-decoration: underline;
}
th:hover {
  cursor: pointer;
}
#tableholder {
  background-color: rgb(199, 197, 197);
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 2%;
  border-radius: 10px;
  box-shadow: 0px 0px 10px;
}
#searchcontainer {
  display: flex;
  flex-direction: column;
}
input {
  height: 30px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1rem;
}
label {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
h2 {
  text-align: center;
  margin-top: 80px;
}
